div.crime {
	width: 400px;
	padding: 8px;
	margin: 8px;
	color: white;
	font-family: sans-serif
}

div.teamDiv {
	display: flex;
	flex-direction: row;
	margin-bottom: 12px;
}

p {
	margin:4px;
}

#playerName {	
	font-size: 20px;
	font-weight: bold;
	margin: 16px;
}

p.teamName {
	font-size: 18px;
}

p.crimeDate {

}

p.crimeCategory {	
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
}

p.crimeDescription {
	margin-bottom: 8px;
}

p.crimeOutcome {

}

div.content {
	width: 80%;
	margin-left: 10%;
	display: flex;
	flex-direction: column;
}

#searchSuggestions {
	text-align: center;
}

#search {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	color: blue;
	margin: 0px 8px 0px 8px;
	text-decoration: underline;
	cursor: pointer;
}

#results {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

#playerName {

}